.main{
    background-image:linear-gradient(45deg, #304de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}